body {
    background-image: url("https://i.pinimg.com/originals/0a/f2/6d/0af26d0fa83af3cc1dd86fbc4cf832df.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% calc(50% - 10px);
    background-size: 100%;
}

#boder111 {
    background-color: white;
    background-size: 100%;
}

#menue_home {
    background: #adff2f;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: relative;
}

#menue_home span {
    display: inline-block;
    transition: all 400ms;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
}

#menue_home span:nth-child(1) {
    top: 15px;
}

#menue_home span:nth-child(2) {
    top: 23px;
}

#menue_home span:nth-child(3) {
    top: 31px;
}

#menue_home.open_menue span:nth-child(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

#menue_home.open_menue span:nth-child(2) {
    opacity: 0;
}

#menue_home.open_menue span:nth-child(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

@keyframes google_tab {
    from {
        transform: translateX(0px);
        opacity: 0;
    }
    to {
        transform: translateX(-280px);
        opacity: 1;
    }
}

@keyframes google_tab_end {
    from {
        transform: translateX(-280px);
        opacity: 1;
    }
    to {
        transform: translateX(0px);
        opacity: 0;
    }
}

#google_tab {
    animation: google_tab_end 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1 normal both;
}

#google_tab.open_google {
    animation: google_tab 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1 normal both;
}

@keyframes kino_tab {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

#book_kino25789.open_menue {
    animation: kino_tab 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1 normal both;
}

#book_kino25789 {
    animation: kino_tab 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1 reverse both;
}


/* #book_kino25789.open {
    animation: google_tab_end 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1 normal both;
} */